*
{
    color: rgba(255, 255, 255, 0.829);
    font-family: 'Open Sans','sans-serif', 'Arial','Helvetica';
    text-decoration: none;
}

body {
    justify-content: center;
    align-items: center;
    background: black;
    margin: 2px 2px 2px 2px;
}

#submitButton {
    background-color: grey;
    padding: 5px;
    font-size: 12px;
}